<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <%- include("partials/navbar") %>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuC1slBG_F2Wf7NmrVRG-JjtkXaup02bgsCkD3xRpgmZX1x3k_Xm8_OQ2cGBKQu-PNuTr8UHoK1JvA6xXSRpE9rslGd-0aAzl7jsy0Ivwul1YIE4vo7aBJx9Wey4MKk030i3isWEcUSrsPF5c3jmEuGZtzm4wdk-Pp1fdwE3mn2KlrkgVgvTxdD1Ov50uFBR9Gs1tSs6NtVaAlqc8UdCO-vBDSk2noFNnFB2buEa7aZ23zFGiF_DvJ6IVpGffrZR9xPF4pcRHT0iNS4");'
                >
                  <div class="flex flex-col gap-2 text-center">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Shorten, brand and track links
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      ShortenIt is the leading link management platform to power your business. Shorten URLs, create custom links, and track performance with advanced analytics.
                    </h2>
                  </div>
                  <a href="/home"
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0d80f2] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Get Started</span>
                </a>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                >
                  Why choose ShortenIt?
                </h1>
                <p class="text-white text-base font-normal leading-normal max-w-[720px]">
                  ShortenIt provides a comprehensive suite of tools to enhance your link management and marketing efforts.
                </p>
              </div>
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-0">
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="Link" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M137.54,186.36a8,8,0,0,1,0,11.31l-9.94,10A56,56,0,0,1,48.38,128.4L72.5,104.28A56,56,0,0,1,149.31,102a8,8,0,1,1-10.64,12,40,40,0,0,0-54.85,1.63L59.7,139.72a40,40,0,0,0,56.58,56.58l9.94-9.94A8,8,0,0,1,137.54,186.36Zm70.08-138a56.08,56.08,0,0,0-79.22,0l-9.94,9.95a8,8,0,0,0,11.32,11.31l9.94-9.94a40,40,0,0,1,56.58,56.58L172.18,140.4A40,40,0,0,1,117.33,142,8,8,0,1,0,106.69,154a56,56,0,0,0,76.81-2.26l24.12-24.12A56.08,56.08,0,0,0,207.62,48.38Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Shorten Links</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Transform long, unwieldy URLs into concise, shareable links.</p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="CursorClick" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M169.64,134.33l44.77-19.46A16,16,0,0,0,213,85.07L52.92,32.8A16,16,0,0,0,32.8,52.92L85.07,213a15.83,15.83,0,0,0,14.41,11l.79,0a15.83,15.83,0,0,0,14.6-9.59h0l19.46-44.77L184,219.31a16,16,0,0,0,22.63,0l12.68-12.68a16,16,0,0,0,0-22.63Zm-69.48,73.76.06-.05Zm95.15-.09-49.66-49.67a16,16,0,0,0-26,4.94l-19.42,44.65L48,48l159.87,52.21-44.64,19.41a16,16,0,0,0-4.94,26L208,195.31ZM88,24V16a8,8,0,0,1,16,0v8a8,8,0,0,1-16,0ZM8,96a8,8,0,0,1,8-8h8a8,8,0,0,1,0,16H16A8,8,0,0,1,8,96ZM120.85,28.42l8-16a8,8,0,0,1,14.31,7.16l-8,16a8,8,0,1,1-14.31-7.16Zm-81.69,96a8,8,0,0,1-3.58,10.74l-16,8a8,8,0,0,1-7.16-14.31l16-8A8,8,0,0,1,39.16,124.42Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Track Clicks</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Monitor the number of clicks on each shortened link in real-time.</p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="ChartLine" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M232,208a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V48a8,8,0,0,1,16,0v94.37L90.73,98a8,8,0,0,1,10.07-.38l58.81,44.11L218.73,90a8,8,0,1,1,10.54,12l-64,56a8,8,0,0,1-10.07.38L96.39,114.29,40,163.63V200H224A8,8,0,0,1,232,208Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Analyze Performance</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Gain insights into your audience's behavior with detailed analytics.</p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="Eye" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Customizable Links</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Create branded links with custom domains and slugs.</p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="ShieldCheck" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M208,40H48A16,16,0,0,0,32,56v58.78c0,89.61,75.82,119.34,91,124.39a15.53,15.53,0,0,0,10,0c15.2-5.05,91-34.78,91-124.39V56A16,16,0,0,0,208,40Zm0,74.79c0,78.42-66.35,104.62-80,109.18-13.53-4.51-80-30.69-80-109.18V56H208ZM82.34,141.66a8,8,0,0,1,11.32-11.32L112,148.68l50.34-50.34a8,8,0,0,1,11.32,11.32l-56,56a8,8,0,0,1-11.32,0Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Secure and Reliable</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Ensure the security and reliability of your links with our robust infrastructure.</p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4754] bg-[#1b2127] p-4 flex-col">
                  <div class="text-white" data-icon="UsersThree" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-white text-base font-bold leading-tight">Team Collaboration</h2>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">Collaborate with your team on link management and marketing campaigns.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                >
                  Key Features
                </h1>
                <p class="text-white text-base font-normal leading-normal max-w-[720px]">
                  Explore the core functionalities that make ShortenIt a powerful tool for businesses and individuals.
                </p>
              </div>
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA_VMZXNLEmBCy2VoB_T83espzp58TMBJkQR6pJWXjoTBaAHp0sVUC2ZOL9H2fzbMxxUd595U2_A1yY0xfoRC-qe_7DyHW7dhpR1vO0jSUSwjYBW3_l_9yAiv0LbUEjYmvuGKS47mGOu938Kuvk-PyfAAoaUximF7r2pyCKK_fAGPP0X-J9b2Jtmy4y4-WSA53Xm1VU3asUtwq9M_Wp_1hEEw6GekKkQqeuIClRnLulGJvoLd7xW0lBEINflyhwj62cSeRD2f9kN-M");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Link Shortening</p>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">
                      Shorten long URLs into concise, easy-to-share links. Improve click-through rates and enhance your brand's online presence.
                    </p>
                  </div>
                </div>
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBd3h17SEe1gJiegwSWCEeKFTccYkVKxrkcta_ey44eWxeT2ithb3bzG39XUyubivrJBuycbOHkblAxy_8xseMkeHTRRWZhnnOJI3wm10LS-mrKWmiTHjWKxfEQgYF_36osbe-9JdG8kh1BmaRf525T3jrKYWefNlijb1X2inVwi8fXyBaCJ4xyGkRJwn5QNdJHV7vK_HvFfAt5qsk71IAKkQppnHrHtrZ0Ar2xX71Z-X1sg0ZNB3lkhGw69UzQnFG-NnsFjU088EQ");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Analytics and Reporting</p>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">
                      Track clicks, monitor performance, and gain insights into your audience's behavior. Optimize your marketing campaigns with detailed analytics.
                    </p>
                  </div>
                </div>
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBrh190-aTPRO2yuvebKDfdQfvNGNEb4WEZvl7CY8uNAvPyUb_Xkf9OasPfxkfOvb0VIXEfv0XbpKVLQKfxBcgD_NarlzoWcH4wX-uKGhUjzQqnvIWiG01skhwLhB2JpOPtekjAvcvOjbOKO3iXyL0EHmyn9uyanECdocNxv1r9EDU5uDfjJGf6egB5km27sVO3yqWKyKfmyx4R9F_Hagw3rMD2WNhr3Z90WO-oPPPVmDZan5gCQBatWhTwkGFDSAB5trBx_4oUtic");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Customizable Links</p>
                    <p class="text-[#9cabba] text-sm font-normal leading-normal">
                      Create branded links with custom domains and slugs. Reinforce your brand identity and build trust with your audience.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="@container">
              <div class="flex flex-col justify-end gap-6 px-4 py-10 @[480px]:gap-8 @[480px]:px-10 @[480px]:py-20">
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                  >
                    Ready to get started?
                  </h1>
                  <p class="text-white text-base font-normal leading-normal max-w-[720px">Sign up for a free account and start shortening your links today.</p>
                </div>
                <div class="flex flex-1 justify-center">
                  <div class="flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0d80f2] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
                    >
                    <a href="/signup"
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#0d80f2] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                    <span class="truncate">Get Started</span>
                </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include("partials/footer") %>
      </div>
    </div>
  </body>
</html>
